@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

html{
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /* margin: 50px 25px; */
}
.home{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background: black;
  background: url('../img/bg.jpg') no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  position: relative;
  /* display: none; */
}
.startCreatingFormBox{
  /* z-index: 99; */
  /* display: flex; */
  display: none;
  min-height: 100vh;
  background: #2c2b44;
  color: lightseagreen;
}
.formWriteQuestions{
  display: none;
  width: 80%;
}
.kartModeForm{
  display: none;
  width: 100%;
}
.oneOptionForm{
  width: 100%;
}
.oneOptionForm h5{
  width: 100%;
  font-size: 22px;
  margin-top: 40px;
  opacity: 0.8;
  text-align: center
}
.borderH5{
  height: 2px;
  margin: 0 auto;
  background: black;
  width: 70%;
  opacity: 0.8;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.labelBox{
  width: 50%;
  margin-top: 20px;
}
.labelBox input{
  margin-right: 10px;
}
.labelBox label{
  font-size: 18px;
}
.labelBox select{
  margin-left: 10px;
  font-size: 16px;
  outline: none;
}
.flexColumn{
  flex-direction: column !important;
}
.flexRow{
  flex-direction: row !important;
}
.checkboxesBox{
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  padding: 0px 20px 10px 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.pointsToHave{
  border: 2px solid black;
  padding: 10px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.pointsToHave input{
  padding: 5px;
  margin-left: 15px;
  border: 1px solid black;
  font-size: 16px;
  outline: none;
  max-width: 50px;
}
.formBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 50%;
  max-width: 700px;
  /* min-width: 600px; */
  /* max-height: 600px; */
  min-height: 200px;
  background: white;
  color: black;
  padding: 40px 20px;
  border-radius: 20px;
  position: relative;
  flex-direction: column;
  margin: 75px 20px;
}
.stepViewer{
  position: absolute;
  right: -25px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pointsLeftBox{
  position: fixed;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  background: white;
  color: #2c2b44;
  border-top: 2px solid #2c2b44;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.pointsLeftBox span{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}
.pointsLeft{
  margin-left: 3px;
  font-size: 20px !important;
}
/* .pointsToGet{
  
} */
h4{
  font-size: 32px;
}
h3{
  font-size: 20px;
  text-transform: uppercase;
}
.typeOfExam{
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  justify-content: center;
  flex-direction: row;
}
.typeOfExamOption{
  min-width: 80px;
  min-height: 40px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
  display: flex;
  border: 3px solid #2c2b44;
  color: #2c2b44;
  transition: 0.25s;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-weight: 600;
  margin: 0px 20px;
}
.typeOfExamOption:hover{
  transition: 0.25s;
  background: #2c2b44;
  border: 3px solid #2c2b44;
  color: white;
}
.step{
  width: 30px;
  height: 30px;
  background: white;
  cursor: default;
  user-select: none;
  color: #2c2b44;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #2c2b44;
}
.btnNext{
 margin-top: 20px; 
}
.btnNext button{
  padding: 8px;
  border: 2px solid black;
  font-size: 16px;
  color: black;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  transition: 0.25s;
  border: 2px solid #2c2b44;
}
.btnNext button:hover{
  transition: 0.25s;
  border: 2px solid #2c2b44;
  background: #2c2b44;
  color: white;
}
.generateDoc{
  padding: 8px;
  border: 2px solid black;
  font-size: 16px;
  color: black;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
  transition: 0.25s;
  border: 2px solid #2c2b44;
}
.generateDoc:hover{
  transition: 0.25s;
  border: 2px solid #2c2b44;
  background: #2c2b44;
  color: white;
}
.otherStep2 input[type='radio']{
  margin-top: 15px;
}
.labelBox input{
  margin-left: 10px;
  font-size: 16px;
}
.labelBox input[type='number']{
  max-width: 65px;
  text-align: center;
}
.stepActive{
  background: #2c2b44;
  border: 2px solid white;
  color: white;
}
.formInFormBox{
  margin-top: 20px;
}
.formHeader{
  margin-bottom: 20px;
}
.backgroundLogoImg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.05;
  width: 200px; 
  z-index: 1;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 72px;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
h2{
  margin-top: 15px;
  font-size: 24px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.btn{
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #ae344b;
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
  color: #2f2d49;
  transition: 0.25s;
  z-index: 99;
}
.btn:hover{
  cursor: pointer;
  transition: 0.25s;
  transform: scale(1.1);
}
footer{
  position: absolute;
  bottom: 10px;
  opacity: 0.3;
}
a{
  color: inherit;
  text-decoration: none;
}
.nextQuestion{
  padding: 8px;
  background: transparent;
  color: #2f2d49;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 40px;
  border: 2px solid #2f2d49;
  cursor: pointer;
}
.nextQuestion:hover{
  transition: 0.25s;
  border: 2px solid #2f2d49;
  background: #2f2d49;
  color: white;
}
.oneQuest{
  width: 100%;
}
.makeQuestionField{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
.makeQuestionField label{
  width: auto;
  text-align: right;
  padding-right: 15px;
  font-size: 18px;
}
.makeQuestionField span{
  font-size: 18px;
  font-weight: 600;
  margin-top: -10px;
}
.makeQuestionField input{
  width: 65%;
  outline: none;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #2f2d49;
  background: none;
  color: #2f2d49;
}
.openQuest{
  display: none;
}
.closeQuest{
  display: none;
}
.chooseOpen, .chooseClose{
  margin: 10px;
}
.chooseOpenOrClose{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.chooseOpenOrClose div{
  padding: 8px 12px;
  background: transparent;
  color: #2f2d49;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #2f2d49;
  cursor: pointer;
  margin: 10px 10px;
  text-align: center;
}
.chooseOpenOrClose div:hover{
  transition: 0.25s;
  border: 2px solid #2f2d49;
  background: #2f2d49;
  color: white;
}
.chooseOpenOrCloseActive{
  transition: 0.25s;
  border: 2px solid #2f2d49;
  background: #2f2d49;
  color: white;
}
.pointsToGet input{
  max-width: 200px;
}
.rowsToHave{
  display: none;
}
.openAnswers{
  display: none;
}
.rowsToHave input{
  max-width: 200px;
}
.openAnswers{
  display: none;
  flex-direction: column;
}
.openAnswers input{
  max-width: 300px;
}
.openAnswers input[type='checkbox']{
  max-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.odpowiedzForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
.formWriteQuestions button{
  transition: 0.25s;
  border: 2px solid #2f2d49;
  background: #2f2d49;
  color: white;
  font-size: 16px;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
}
.formWriteQuestions button:hover{
  transition: 0.25s;
  border: 2px solid #2f2d49;
  background: transparent;
  color: #2f2d49;
}
.checkOutDoc{
  display: none;
}
.firstRaportBlock{
  margin-top: 20px;
}
.raportBlock{
  text-align: left;
  font-size: 18px;
  line-height: 200%;
  width: 100%;
  max-width: 500px;
}
.checkOutDoc{
  width: 100%;
}
.linijka{
  height: 1px;
  background: black;
  margin: 20px 0px;
  width: 60%;
}
.checkOutDoc h5{
  width: 100%;
  font-size: 22px;
  margin-top: 0px;
  opacity: 0.8;
  margin-bottom: 5px;
  text-align: center
}
.correctAnswer{
  color: green;
  font-weight: 600;
}
.correctAnswer:after{
  content: ' <- poprawne';
}